[core]
dag_ignore_file_syntax = .ipynb_checkpoints

[webserver]
# The base url of your Airflow server
base_url = http://0.0.0.0:8080

# The ip specified when starting the web server
web_server_host = 0.0.0.0

# The port on which to run the web server
web_server_port = 8080